
h1 span.slogan_youcan {
	font-family: 'Poppins', sans-serif;
    font-size: 1.0em !important;
	font-weight: 200 !important;
}

h1 span.slogan_lean {
	font-family: 'Poppins', sans-serif;
    font-size: 1.50em !important;
	font-weight: 500 !important;
}

h1 span.slogan_onus{
	font-family: 'Poppins', sans-serif;
    font-size: 1.0em !important;
	font-weight: 200 !important;
}

.background-primary-color {
    background: #256d9B;
}

.background-secondary-color {
    background: #EBA12C;
}

.font-primary-color {
    color: #185674;
}

.img-rounded-50 {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.margin-10 {
    margin: 10px;
}

#coffee{
    background-image: url(../img/nuevas/textura.png);
    background-size: cover;
    background-position: center;
}

.font-secondary-color {
    color: #B78D1E;
}

.titilium-italic{
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
}

.service-box img {
    margin-bottom: -20px;
    width:100px;
}

@media(max-width:789px){
    #about h2, #about #vision {
        text-align: center;
    }

    #about p {
        text-align: justify;
    }

    #about #redes{
        float:none;
        text-align: center;
    }

    
}

#about a.values:hover{
    text-decoration:none;
    color: #EAB12C;
}

#follow div.redes:hover{
    background-color:#EAB12C;
}

#contact .panel-footer{
    height: 100px;
}
 

.btn-blue {
    border-color: #17202F;
    color: #fff;
    background-color: #17202F;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    border-color: #2495D7;
    background-color: #2495D7;
    color: #fff;
}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    background-image: none;
}



#about,
#contact {
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
}

#about {
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     linear-gradient(
                     rgba(0,0,0, 1), 
                     rgba(0,0,0, 0)),
                     url(../img/nuevas/ofic_clara.jpg);
   background: -moz-linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     -moz-linear-gradient(
                     rgba(0,0,0, 1), 
                     rgba(0,0,0, 0)),
                     url(../img/nuevas/ofic_clara.jpg);
   background: -webkit-linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     -webkit-linear-gradient(
                     rgba(0,0,0, 1), 
                     rgba(0,0,0, 0)),
                     url(../img/nuevas/ofic_clara.jpg);
   background: -o-linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     -o-linear-gradient(
                     rgba(0,0,0, 1), 
                     rgba(0,0,0, 0)),
                     url(../img/nuevas/ofic_clara.jpg);
   background: -ms-linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)),
                     -ms-linear-gradient(
                     rgba(0,0,0, 1), 
                     rgba(0,0,0, 0)),
                     url(../img/nuevas/ofic_clara.jpg);
                     
    background-position: center, top, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    -webkit-background-size: cover, 100% 250px;
    -moz-background-size: cover,cover;
    -o-background-size: cover,cover;
    background-attachment: fixed;

}

#about a {
    color: #fff;
}


.text-white{
    color:white !important;
}

.text-aqua{
    color:#61b5e3 !important;
}

#stuff a:hover, #contact-form a:hover{
    color:#61b5e3 !important;
}


#modals-values .modal-content .modal-header,
#modals-values .modal-content .modal-body {
    text-align: center;

}

.modal-body{
    padding: 0 40px 20px;
}

.modal-content p {
    text-align: justify;
}
/*
#youandi_dialog {
    background-image: url(../img/values/you-me-we-background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#liberte_dialog {
    background-image: url(../img/values/liberte-background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#value_dialog {
    background-image: url(../img/values/value_background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#transparency_dialog {
    background-image: url(../img/values/transparency.gif);
    background-repeat: no-repeat;
    background-size: 200px auto;
}
/*
#alvaro_dialog {
    
}

#ana_dialog {
    background-image: url(../img/team/large/ana.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#fernando_dialog {
    background-image: url(../img/team/large/fernandoG.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#brian_dialog {
    background-image: url(../img/team/large/brian.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#dan_dialog {
    background-image: url(../img/team/large/dan.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#federico_dialog {
    background-image: url(../img/team/large/federicoB.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#jonatan_dialog {
    background-image: url(../img/team/large/jona.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#leandro_dialog {
    background-image: url(../img/team/large/leandro.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#lucia_dialog {
    background-image: url(../img/team/large/lucia.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#marcos_dialog {
    background-image: url(../img/team/large/marcosp.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#marina_dialog {
    background-image: url(../img/team/large/marina.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#martin_dialog {
    background-image: url(../img/team/large/martin.JPG);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#pablo_dialog {
    background-image: url(../img/team/large/pablo.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#jorge_dialog {
    background-image: url(../img/team/large/jorge.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#ramon_dialog {
    background-image: url(../img/team/large/ramon.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}*/

#contact {
    background-image: url(../img/map-image.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-darkblue{
    background-color: #17202f;
}

#contact address {
    color: #000;
    text-align: left;
}

.navbar-brand {
    background-position: 5px 5px !important;
    width: 150px !important;
    background-size: 141px 40px !important;
   
}
.navbar-default .navbar-brand {
    background: url(../img/nuevas/logo_negro.png) no-repeat;
}

@media (min-width: 768px) {
    .navbar-brand{
        width: 180px !important;
       background-size: 174px 50px !important;
       height: 70px;
    }
    .navbar-default.affix-top .navbar-brand {
    background: url(../img/nuevas/logo_blanco.png) no-repeat;
 
}
    .navbar-default.affix .navbar-brand{
    background: url(../img/nuevas/logo_negro.png) no-repeat;
}





#contact-form {
    text-align: left;
    color: #000;
}

#team-section {
    padding-top: 60px;
    color: white;
}



.Flexible-container {
    position: relative;
    padding-bottom: 80%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



