.background-primary-color {
    background: #2C6987;
    ;
}

.background-secondary-color {
    background: #D5AC3F;
}

.font-primary-color {
    color: #185674;
}

.font-secondary-color {
    color: #B78D1E;
}

#about,
#contact {
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
}

#about {
    background-image: url(../img/office1.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-shadow: 1px 1px 1px #000;
    background-attachment: fixed;
}

#about a {
    color: #fff;
}

#modals-values .modal-content .modal-header,
#modals-values .modal-content .modal-body {
    margin-left: 200px;
}

#youandi_dialog {
    background-image: url(../img/values/you-me-we-background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#liberte_dialog {
    background-image: url(../img/values/liberte-background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#value_dialog {
    background-image: url(../img/values/value_background.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#transparency_dialog {
    background-image: url(../img/values/transparency.gif);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#alvaro_dialog {
    background-image: url(../img/team/large/alvaro.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#ana_dialog {
    background-image: url(../img/team/large/ana.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#fernando_dialog {
    background-image: url(../img/team/large/fernandoG.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#brian_dialog {
    background-image: url(../img/team/large/brian.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#dan_dialog {
    background-image: url(../img/team/large/dan.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#federico_dialog {
    background-image: url(../img/team/large/federicoB.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#jonatan_dialog {
    background-image: url(../img/team/large/jona.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#leandro_dialog {
    background-image: url(../img/team/large/leandro.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#lucia_dialog {
    background-image: url(../img/team/large/lucia.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#marcos_dialog {
    background-image: url(../img/team/large/marcosp.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#marina_dialog {
    background-image: url(../img/team/large/marina.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#martin_dialog {
    background-image: url(../img/team/large/martin.JPG);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#pablo_dialog {
    background-image: url(../img/team/large/pablo.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#jorge_dialog {
    background-image: url(../img/team/large/jorge.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#ramon_dialog {
    background-image: url(../img/team/large/ramon.jpg);
    background-repeat: no-repeat;
    background-size: 200px auto;
}

#contact {
    background-image: url(../img/map-image.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

#contact address {
    color: #000;
    text-align: left;
}

.navbar-brand {
    background-size: cover !important;
    width: 175px !important;
}

.navbar-default .navbar-brand {
    background: url(../img/blue-transparent.png) no-repeat;
}

.navbar-inverse .navbar-brand,
.navbar-default.affix .navbar-brand {
    background: url(../img/blue-inverse.png) no-repeat;
}

@media (max-width: 767px) {
    .navbar-default .navbar-brand {
        background: url(../img/blue-inverse.png) no-repeat;
    }
}

.img-rounded-50 {
    border-radius: 50%;
}

.margin-10 {
    margin: 10px;
}

#contact-form {
    text-align: left;
    color: #000;
}

#team-section {
    padding-top: 60px;
    color: white;
}

.team-item > div {
    margin: 10px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}


/*.team-item .team-middle-bg {
    padding:10px;
    min-height :100%;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:10%;
}

.team-item .team-inside-bg {

    min-height:100%;
    border-radius:40%;
    background-color:white;
    background-position :center;
    background-size: cover;
    border-radius:10%;
}

.team-item #alvaro {
    background-image: url(../img/team/alvaro.jpg)  ;
}

.team-item #ana {
    background-image: url(../img/team/ana.jpg)  ;
}
.team-item #brian {
    background-image: url(../img/team/brian.jpg)  ;
}
.team-item #dan {
    background-image: url(../img/team/dan.jpg)  ;
}
.team-item #federico {
    background-image: url(../img/team/federico.jpg)  ;
}
.team-item #fernando {
    background-image: url(../img/team/fernando.jpg)  ;
}
.team-item #jona {
    background-image: url(../img/team/jonatan.jpg)  ;
}
.team-item #leandro {
    background-image: url(../img/team/leandro.jpg)  ;
}
.team-item #lucia {
    background-image: url(../img/team/lucia.jpg)  ;
}
.team-item #marcos {
    background-image: url(../img/team/marcos.jpg)  ;
}
.team-item #marina {
    background-image: url(../img/team/marina.jpg)  ;
}
.team-item #martin {
    background-image: url(../img/team/martin.jpg)  ;
}
.team-item #pablo {
    background-image: url(../img/team/pablo.jpg)  ;
}
.team-item #yasim {
    background-image: url(../img/team/yasim.jpg)  ;
}*/

.Flexible-container {
    position: relative;
    padding-bottom: 80%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    outline: none !important;
}