
HTML
{
	height: 100%
}

BODY
{
	height: 100%;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#title
{
	background-color: #37657d;
	color: white;
	height: 30%;
}

#title H1
{
	margin: 0px;
}

#title IMG
{
	float: right;
	height: 100%;
}

#title DIV
{
	padding: 3%;
}

#container
{
	overflow: auto;
}

#left
{
	float: left;
	width: 50%;
	display: flex; 
	justify-content: center; 
	margin-top: 3%;
	margin-bottom: 3%;
}

#right
{
	float: right;
	width: 50%;
	display: flex; 
	justify-content: center; 
	margin-top: 3%;
	margin-bottom: 3%;
}

.button
{
	border: 5px solid  #37657d;
	color:  #37657d;
	background: white;
	text-align: center;
	padding: 15px 32px;
	font-size: 200%;
	margin: auto;
	cursor: pointer;
}

.button:hover
{
	border: 5px solid  #37657d;
	color:  white;
	background: #37657d;
	text-align: center;
	padding: 15px 32px;
	font-size: 200%;
	margin: auto;
	cursor: pointer;
}

#text
{
	display: none;
	box-shadow:  10px 10px  20px grey inset;
	padding: 3%;
}

#text IMG
{
	width: 80%;
}

