<!-- Introduction -->

<div class="introduction col-xs-12 col-md-7 col-lg-3" style="background: #ffffff">
	<span style="margin: auto; padding-top: 10%; font-weight: bold;">From Agile Teams to Agile Organizations.</span>
    <div class="intro-content" >
        <img src="assets/img/zensum_text.png" alt="" >
    </div>
</div>

<div class="menu col-xs-12 col-md-7 col-lg-7" style="background: #f2f1ef">
    <div class="intro-content" >
        <img src="assets/img/zensum_cycle.png" alt="" style="max-width: 80%; display: block; margin: auto;">
    </div>
</div>

<!-- Navigation Menu -->

<div class="menu col-xs-12 col-md-5 col-lg-2">

    <div class="principles">

        <a ng-repeat="principle in page.people" href="#/{{principle.url}}" class="menu_button">
            <img alt="" ng-src="assets/img/features/{{principle.image}}">
            <div class="heading">
                <i class="{{principle.icon}}"></i>
                <h2>
                    {{principle.title}}
                </h2>
            </div>
        </a>

    </div>
    <div class="principles">

        <a ng-repeat="principle in page.purposes" href="#/{{principle.url}}" class="menu_button">
            <img alt="" ng-src="assets/img/features/{{principle.image}}">
            <div class="heading">
                <i class="{{principle.icon}}"></i>
                <h2>
                    {{principle.title}}
                </h2>
            </div>
        </a>

    </div>
    <div class="principles">

        <a ng-repeat="principle in page.processes" href="#/{{principle.url}}" class="menu_button">
            <img alt="" ng-src="assets/img/features/{{principle.image}}">
            <div class="heading">
                <i class="{{principle.icon}}"></i>
                <h2>
                    {{principle.title}}
                </h2>
            </div>
        </a>

    </div>

    <div class="principles">

        <a ng-repeat="practice in page.practices" href="#/{{practice.url}}" class="menu_button">
            <img alt="" ng-src="assets/img/features/{{practice.image}}">
            <div class="heading">
                <i class="{{practice.icon}}"></i>
                <h2>
                    {{practice.title}}
                </h2>
            </div>
        </a>

    </div>

</div>
